* {
    box-sizing: border-box;
}

:root {
    --head-color: #485657;
    --bord-color: #586869;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #3CAAAF;
    border-bottom: 5px solid var(--bord-color);
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 11px;
    font-size: 5em;
    color: var(--head-color);
}

nav ul {
    display: flex;
    margin: 15px;
    font-size: 2em;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #F9F9F3;
}

p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 800px;
    background-color: #F9F9F3;
    border: 5px solid #586869;
    padding: 20px;
    margin: 85px;  
    color: #485657;
    font-size: 2em;
}

#button-1:hover {
    top:-25px;
    left:-35px;
    height: 170px;
    z-index:999;
}

a:link {
    text-decoration: none;
    color: var(--head-color);
}

a:hover {
    text-shadow: 2px 2px 5px #D6DCDE;
}

a:visited {
    color: var(--head-color)
}

.navbar {
    padding: 5px;
    margin: 15px;
}

.section-left {
    width: 1300px;
    height: 400px;
    border: 5px solid var(--bord-color);
    padding: 25px;
    margin: 30px;
}

#section-1 {
    display: flex;
    align-items: center;
    border-radius: 25px;
    background: url(./images/streaks.jpg);
    background-position: left top;
    padding: 20px;
}

#section-2 {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    align-items: center;
    width: 1300px;
    height: 400px;
    border: 5px solid var(--bord-color);
    padding: 25px;
    margin: 30px;
    border-radius: 25px;
    background: url(./images/cloud.jpg);
    background-position: left top;
    padding: 20px;
}

#section-3 {
    display: flex;
    align-items: center;
    border-radius: 25px;
    background: url(./images/paint.jpg);
    background-position: left top;
    padding: 20px;
}

#author-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 345px;
    width: 255px;
    border: 5px solid var(--bord-color);
    border-radius: 25px;
    margin: 20px;
}

/* #section-right {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    width: 1300px;
    height: 400px;
    border: 5px solid var(--bord-color);
    padding: 25px;
    margin: 30px;
} */

#button-1 {
    display: flex;
    flex-direction: center;
    justify-content: center;
    height: 155px;
    width: 214px;
    border-radius: 25px;
    margin: 25px;
}

#button-2 {
    display: flex;
    flex-direction: center;
    justify-content: center;
    height: 100px;
    width: 240px;
    border: 5px solid var(--bord-color);
    border-radius: 25px;
    padding: 10px;
    margin: -10px;
}